@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Rooney Pro Light', sans-serif;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

html > h1, h2, h3, h4, h5, h6 {
    color: red;
}

header {
    width: 100%;
}

.nav {
    display: flex;
}

.nav > div {
    width: 50%;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

button, .button {
    padding: 0.5em;
    margin: 0.5em;
}

.page h1 {
    padding: 0.5em;
    text-align: center;
}

@media (min-width: 1200px) {
    .page {
        display: flex;
        justify-content: center;
        flex-flow: column;
        margin: 0 auto;
    }
}